<a href="https://colab.research.google.com/github/bmendezz/machine-learning/blob/main/Introdu%C3%A7%C3%A3o_a_machine_learning_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulação Pandas

In [55]:
import pandas as pd 
import numpy as np 
from datetime import datetime

ano_atual = datetime.today().year


uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'
dados = pd.read_csv(uri)


a_renomear = {
    'mileage_per_year' : 'milhas_por_ano',
    'model_year': 'ano_do_modelo',
    'price':'preco',
    'sold':'vendido'
}

# swap em nos valores
a_trocar = {
    'no':0,
    'yes':1
}


dados = dados.rename(columns = a_renomear)
dados.vendido = dados.vendido.map(a_trocar)

#adiconar coluna com idade dos veiculos
dados['idade_do_modelo'] = ano_atual - dados.ano_do_modelo

#converter milhas para Km
dados['km_por_ano'] = (dados.milhas_por_ano * 1.60934)

#Remover colunas 
dados = dados.drop(columns = ["Unnamed: 0", "milhas_por_ano", "ano_do_modelo"], axis=1)

dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               21  35085.22134
1   40557.96        1               23  12622.05362
2   89627.50        0               15  11440.79806
3   95276.14        0                6  43167.32682
4  117384.68        1                7  12770.11290

# Modelagem / Manipulação Sklearn

In [58]:
# modelagem X e Y
x = dados[['preco','idade_do_modelo','km_por_ano']]
y = dados[['vendido']]

In [ ]:
# modelagem padrão #LinearSVC (teste)
#import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split as tts
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 5
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = tts(x, y , test_size = 0.25, stratify = y)

print( "Treinaremos com %d elementos e testaremos com %d elementos " % ( len(treino_x), len(teste_x) ))

# Treinar modelo 

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100

In [98]:
print( "Treinaremos com: %d elementos e testaremos com: %d elementos." % ( len(treino_x), len(teste_x) ))

print('A acurácia foi: %.2f%%' % acuracia)

Treinaremos com: 7500 elementos e testaremos com: 2500 elementos.
A acurácia foi: 58.00%

# Dummy Classifier