<a href="https://colab.research.google.com/github/bmendezz/machine-learning/blob/main/introdu%C3%A7%C3%A3o_a_machine_learning_Classifica%C3%A7%C3%A3o_prj2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv";
dados = pd.read_csv(uri)
dados.head() # imprime as primeiras 5 linhas da tabela.

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

Atribuir colunas para variável

Renomear titulo tabela

In [17]:
mapa = {
    "home":"principal",
    "how_it_works": "como_funciona",
    "contact":"contato",
    "bought":"comprou"
}

dados = dados.rename(columns = mapa)

In [19]:
x = dados[["principal","como_funciona","contato"]]
y = dados['comprou']
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

Informação sobre dados / Separar documentos de treinamentos.

In [21]:
dados.shape

(99, 4)

In [28]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[:75]

print ("Treinaremos com %d elementos e testaremos com %d elementos." %(len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos.