<a href="https://colab.research.google.com/github/bmendezz/machine-learning/blob/main/introdu%C3%A7%C3%A3o_a_machine_learning_Classifica%C3%A7%C3%A3o_prj2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv";
dados = pd.read_csv(uri)
dados.head() # imprime as primeiras 5 linhas da tabela.

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

**Renomear** titulo tabela

In [10]:
mapa = {
    "home":"principal",
    "how_it_works": "como_funciona",
    "contact":"contato",
    "bought":"comprou"
}

dados = dados.rename(columns = mapa)

**Atribuir** colunas para variável

In [11]:
x = dados[["principal","como_funciona","contato"]]
y = dados['comprou']
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

# *Informação* sobre dados / Separar documentos de treinamentos.

In [12]:
dados.shape

(99, 4)

In [13]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print ("Treinaremos com %d elementos e testaremos com %d elementos." %(len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos.

# Treinar modelo (LinearSVC)

In [27]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

 
modelo = LinearSVC() #cria modelo. 
modelo.fit(treino_x, treino_y ) #Treina Modelo.
#Passar coomo parâmetro o treino_EixoX para predict.
previsoes = modelo.predict(teste_x) #Predição.

# Acuracia 
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

# **Importar train_test_split**

In [43]:
from sklearn.model_selection import train_test_split as tts # TreinoTestSplit      
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score 

# SEED (DEFINIR ORDEM DE SEPARAÇÃO DO TREINO/TESTE)
SEED = 20 

treino_x, teste_x, treino_y, teste_y  = tts(x, y, random_state= SEED, test_size = 0.25)

print ("Treinaremos com %d elementos e testaremos com %d elementos." %(len(treino_x), len(teste_x)))

#Criar modelo 
modelo = LinearSVC()
#Treinar modelo
modelo.fit(treino_x, treino_y)
# Previsao
previsoes =  modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes ) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos.
A acurácia foi 96.00%

# Contar quantidades de valores - (Pessoas que compraram ou não)

In [46]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [47]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

# Utilizando recurso Stratify (divisão proporcional baseado_eixo_Y)

In [57]:
from sklearn.model_selection import train_test_split as tts
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = tts(x, y, random_state = SEED, test_size = 0.25, stratify = y ) 

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [58]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [59]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64